@use "./reset";
@use "./mixins";
@use "./variables";

html {
  font-family: Pretendard;
  font-size: 16px;

  @include mixins.mqMax(variables.$breakpoint-mobile) {
    font-size: 13px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
